@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --c-bg: #fff;
    --c-scrollbar: #eee;
    --c-scrollbar-hover: #bbb;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar:horizontal {
    height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: var(--c-bg);
    border-radius: 10px;
}

.dark ::-webkit-scrollbar-track,
.dark ::-webkit-scrollbar-corner {
    background: black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--c-scrollbar);
    border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--c-scrollbar-hover);
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: gray;
}